<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Pedagogical Development</title>
  </head>

  <body>
    <h1> 
      Pedagogical Development 2.0
    </h1>

    <main>
      
      <p> 
        <a href="{{ url_for('show_index') }}">INDEX</a> 
      </p>

      <iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/0e84e88d-7f86-4f34-985d-9f0cf2c50c9c">
    </iframe>

    </main>
    

  </body>

</html>
