<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Pedagogical Development</title>
  </head>

  <body>
    <h1> 
      Pedagogical Development 2.0
    </h1>

    <main>
      <p>
        <p> <a href="{{ url_for('show_index') }}">INDEX</a> </p>
      </p>

      <p>Click the button to get your coordinates.</p>

      <button onclick="getLocation()">Give Your Location</button>

      <p id="location"></p>



      <form name="query_form" action="" method="post" enctype="multipart/form-data">
        Query <input name="query" type="query"/>
        Latitude <input name="lat" type="lat"/>
        Longitude <input name="lng" type="lng"/>
        <input type="submit" name="ask" value="submit"/>
      </form>

      <p id="response"> {{response}}</p>

    </main>

      <script>
        var loc = document.getElementById("location");

        function getLocation() {
            navigator.geolocation.watchPosition(showPosition, showError);
        }

        function showPosition(position) {
          loc.innerHTML = "Latitude: " + position.coords.latitude +
          "<br>Longitude: " + position.coords.longitude;

        }

        function showError(error) {
            switch(error.code) {
              case error.PERMISSION_DENIED:
                loc.innerHTML = "User denied the request for Geolocation."
                break;
              case error.POSITION_UNAVAILABLE:
                loc.innerHTML = "Location information is unavailable."
                break;
              case error.TIMEOUT:
                loc.innerHTML = "The request to get user location timed out."
                break;
              case error.UNKNOWN_ERROR:
                loc.innerHTML = "An unknown error occurred."
                break;
            }
          }
      </script>

  </body>

</html>
